body {
  background: black;
}

main article {
  width: 60%;
  margin: 10% auto;
}

main, article, pre, code {
  margin: 0;
}

pre {
  display: inline-block;
  font-size: 24px;
  font-family: monospace;
  color: rgb(255, 241, 221);
}

#tooltip {
  font-family: monospace;
  padding: 1em;
  font-size: 16px;
  border: 1px solid black;
  background: rgb(253, 230, 173);
  position: absolute;
  z-index: 2;
  max-width: 40%;
}

.hidden {
  display: none;
}

.active {
  background: grey;
}